/* Estilos personalizados */
.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-container .card {
  flex-basis: calc(50% - 10px); /* Ajusta el ancho para dos columnas */
  margin-bottom: 20px; /* Espaciado entre formularios */
}

/* Espaciado entre grupos de formularios */
.form-container > .card:nth-child(odd) {
  margin-right: 20px; /* Espaciado entre grupos de formularios */
}

/*Estilos del hearder de las tarjetas*/
.card-header {
  background-color: #17a2b8; /* Azul de Bootstrap */
  color: white;
}
.btn {
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.btn:hover {
  background-color: #31c9e0;
}
